%html
  %head
    %title
      Here's the mutiny I promised you
    %link{:href=>"/rss", :rel=>"alternate", :title=>"FEED", :type=>"application/atom+xml" }
    %style
      ~ $css
  %body
    ~ $text
