%html
  %head
    %title
      Here's the mutiny I promised you
    %link{:href=>"http://github.com/feeds/bmizerany/commits/sinatra/master", :rel=>"alternate", :title=>"FEED", :type=>"application/atom+xml" }
    %style
      ~ $css
  %body
    ~ $text
